body {
  padding-top: 39px;
}
body.docs-home {
  padding-top: 0;
}
h2 {
  font-weight: 400;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: .5em;
}
.docs-hero {
  background: #efefef;
  padding: 60px 0;
}
.docs-hero h1 {
  text-align: center;
  color: #122340;
  line-height: 1.3em;
}
.docs-hero h2 {
  font-weight: 300;
  text-align: center;
  color: #27a9e0;
  border-bottom: none;
}
.docs-home h3 {
  margin-top: 2em;
  text-align: center;
}
.docs-home p {
  text-align: center;
}
.docs-home .nyi {
  margin-top: 2em;
}
.docs-home .nyi:before {
  content: "Use at your own risk";
}
.docs-home .docs-download {
  padding: 1.5em 0 1em;
  text-align: center;
}
.nav-menu .menu ul li.docs-footer-logo {
  padding: 0 1.5em;
}
.docs-header {
  background-color: #27a9e0;
}
.docs-header h1 {
  color: #ffffff;
  font-weight: 400;
}
.docs-header p {
  color: #ffffff;
  font-size: 1.4em;
}
.docs-footer {
  font-size: .8em;
  text-align: center;
}
.docs-footer .row:first-child {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #eaeaea;
}
.docs-footer p {
  color: #bbbbbb;
}
.docs-footer .row:nth-child(2) {
  padding: 2em 0 3em;
}
.docs-footer a {
  color: #72a6b7;
}
.docs-footer .docs-footer-logo img {
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
.example {
  padding: 2.5em 1.25em 1.25em;
  margin-top: 20px;
  border: 1px solid #eaeaea;
  background-color: #f5f5f5;
  position: relative;
}
.example:before {
  content: "Example";
  text-transform: uppercase;
  font-size: .8em;
  color: #989898;
  padding: 0 0 10px;
  position: absolute;
  top: 4px;
  left: 20px;
  font-weight: 700;
}
.example .syntax {
  border-width: 1px 0 0;
  margin: 1.25em -1.25em -1.25em;
  padding: 1.6em 0 0;
}
.example .syntax:before {
  left: 20px;
}
.example .syntax .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0 !important;
}
.example .syntax .syntaxhighlighter.nogutter {
  margin-bottom: 1em !important;
}
.syntax {
  border: 1px solid #eaeaea;
  background-color: #fff;
  padding: 1.2em 0 0;
  position: relative;
}
.syntax:before,
.syntax:after {
  content: " ";
  display: table;
}
.syntax:after {
  clear: both;
}
.syntax:before {
  content: "Syntax";
  text-transform: uppercase;
  font-size: .8em;
  color: #989898;
  padding: 0 0 10px;
  position: absolute;
  top: 4px;
  left: 12px;
  font-weight: 700;
}
.syntax .syntaxhighlighter.nogutter td.code .line {
  padding-left: 12px !important;
}
.syntax .syntaxhighlighter.nogutter {
  margin-bottom: 0 !important;
}
.syntaxhighlighter code,
.syntaxhighlighter div {
  line-height: 1.8em !important;
}
.syntaxhighlighter code .line.alt1,
.syntaxhighlighter div .line.alt1 {
  background-color: #f8f8f8 !important;
}
.grid-demo {
  position: relative;
}
.grid-demo .row {
  margin-bottom: 12px;
}
.grid-demo .grid-name {
  background-color: #27a9e0;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  font-size: .9em;
  color: #fff;
  white-space: nowrap;
}
.grid-demo div[class^='pwn-'] {
  background-color: rgba(255, 130, 0, 0.25);
}
.grid-demo .grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.grid-demo .grid-overlay .row {
  margin-left: 0;
  margin-right: 0;
}
.grid-demo .grid-overlay div[class^='pwn-'] {
  background-color: transparent;
  border-right: 1px dashed red;
  height: 612px;
}
.grid-demo .grid-overlay div[class^='pwn-']:first-child {
  border-left: 1px dashed red;
}
.nav-menu {
  text-transform: uppercase;
}
