body {
  padding-top: 39px;
}
body.docs-home {
  padding-top: 0;
}
a.bookmark {
  content: "";
  display: block;
  height: 39px;
  margin: -39px 0 0;
}
.docs-hero {
  background: #efefef;
  padding: 60px 0;
}
.docs-hero h1 {
  text-align: center;
  color: #122340;
  line-height: 1.3em;
  font-weight: 300;
}
.docs-hero h2 {
  font-weight: 300;
  text-align: center;
  color: #27a9e0;
  border-bottom: none;
}
.docs-home h3 {
  margin-top: 2em;
  text-align: center;
}
.docs-home p {
  text-align: center;
}
.docs-home .pwn-notification {
  margin-top: 2em;
}
.docs-home .pwn-notification:before {
  content: "Use at your own risk";
}
.docs-home .docs-download {
  padding: 1.5em 0 1em;
  text-align: center;
}
.nav-menu .menu ul li.docs-footer-logo {
  padding: 0 1.5em;
}
.docs-header {
  background-color: #27a9e0;
}
.docs-header h1 {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0;
}
.docs-header p {
  color: #ffffff;
  font-size: 1.4em;
  margin-bottom: 1.5em;
}
.docs-footer {
  font-size: .8em;
  text-align: center;
}
.docs-footer .row:first-child {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #eaeaea;
}
.docs-footer p {
  color: #bbbbbb;
}
.docs-footer .row:nth-child(2) {
  padding: 2em 0 3em;
}
.docs-footer a {
  color: #72a6b7;
}
.docs-footer .docs-footer-logo img {
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
.example {
  padding: 2.5em 1.25em 1.25em;
  margin-top: 0;
  border: 1px solid #eaeaea;
  background-color: #f5f5f5;
  position: relative;
}
.example:before {
  content: "Example";
  text-transform: uppercase;
  font-size: .8em;
  color: #989898;
  padding: 0 0 10px;
  position: absolute;
  top: 4px;
  left: 20px;
  font-weight: 700;
}
.example .syntax {
  border-width: 1px 0 0;
  margin: 1.25em -1.25em -1.25em;
  padding: 1.6em 0 0;
}
.example .syntax:before {
  left: 20px;
}
.example .syntax .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0 !important;
}
.example .syntax .syntaxhighlighter.nogutter {
  margin-bottom: 1em !important;
}
.example .form {
  margin-top: 0;
}
.example.headings table {
  margin: 0;
}
.example.headings table td {
  padding: 0;
}
.syntax {
  border: 1px solid #eaeaea;
  background-color: #fff;
  padding: 1.2em 0 0;
  margin-bottom: 1.4em;
  position: relative;
}
.syntax:before,
.syntax:after {
  content: " ";
  display: table;
}
.syntax:after {
  clear: both;
}
.syntax:before {
  content: "Syntax";
  text-transform: uppercase;
  font-size: .8em;
  color: #989898;
  padding: 0 0 10px;
  position: absolute;
  top: 4px;
  left: 12px;
  font-weight: 700;
}
.syntax .syntaxhighlighter.nogutter td.code .line {
  padding-left: 12px !important;
}
.syntax .syntaxhighlighter.nogutter {
  margin-bottom: 0 !important;
}
.syntaxhighlighter code,
.syntaxhighlighter div {
  line-height: 1.8em !important;
}
.syntaxhighlighter code .line.alt1,
.syntaxhighlighter div .line.alt1 {
  background-color: #f8f8f8 !important;
}
.grid-demo {
  position: relative;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}
.grid-demo .row {
  margin-bottom: 12px;
}
.grid-demo .grid-name {
  background-color: #27a9e0;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  font-size: .9em;
  color: #fff;
  white-space: nowrap;
}
.grid-demo div[class^='pwn-'] {
  background-color: rgba(255, 130, 0, 0.25);
  height: 40px;
}
.grid-demo .grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.grid-demo .grid-overlay .row {
  margin-left: 0;
  margin-right: 0;
}
.grid-demo .grid-overlay div[class^='pwn-'] {
  background-color: transparent;
  border-right: 1px dashed red;
  height: 612px;
}
.grid-demo .grid-overlay div[class^='pwn-']:first-child {
  border-left: 1px dashed red;
}
.pwn-tabs .page h3 {
  margin-top: 0;
}
.pwn-tabs .page figure {
  margin: 0;
}
.pwn-tabs .page figure img {
  width: 100%;
}
.pwn-tabs .page table {
  margin-top: 0;
}
.tabChanged-demo .result {
  background-color: #fff;
  border: 1px solid #eaeaea;
  padding: 20px;
  margin-top: 1px;
  font-weight: 700;
  font-size: 1.2em;
  color: #27a9e0;
}
.nav-menu {
  text-transform: uppercase;
}
.browser-label {
  text-align: center;
  margin: 30px 0 0;
}
.browser-logos {
  width: 300px;
  height: 47px;
  margin: 10px auto 2px;
}
.browser-logos:before,
.browser-logos:after {
  content: " ";
  display: table;
}
.browser-logos:after {
  clear: both;
}
.browser {
  width: 45px;
  height: 47px;
  overflow: hidden;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.browser.chrome > img {
  margin-left: -90px;
}
.browser.ie > img {
  margin-left: -45px;
}
.browser.firefox > img {
  margin-left: -135px;
}
.browser > img {
  height: 47px;
  max-width: none;
}
.browser-names {
  margin: 4px auto 20px;
  width: 300px;
}
.browser-names:before,
.browser-names:after {
  content: " ";
  display: table;
}
.browser-names:after {
  clear: both;
}
.browser-name {
  text-align: center;
  font-size: .9em;
  width: 75px;
  float: left;
}
.browser-name .mobile {
  margin-top: -2px;
  height: 18px;
  width: 18px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.browser-name .mobile img {
  width: 36px;
  height: 18px;
  max-width: none;
}
.browser-name .mobile.android img {
  margin-left: -18px;
}
.browser-name .mobile-os {
  margin-top: 20px;
}
@media screen and (min-width: 568px) {
  .browser-logos {
    width: 456px;
    height: 88px;
    margin: 10px auto;
  }
  .browser {
    width: 84px;
    height: 88px;
  }
  .browser.chrome > img {
    margin-left: -168px;
  }
  .browser.ie > img {
    margin-left: -84px;
  }
  .browser.firefox > img {
    margin-left: -252px;
  }
  .browser > img {
    height: 88px;
    max-width: none;
  }
  .browser-names {
    width: 456px;
    margin-top: 10px;
  }
  .browser-name {
    width: 114px;
  }
}
