/*
	These mixins wrap your ruleset in a media query at the root.

	Example:
	.header {
		.xs({
			color: red;
		})
	};

	Prints:
	@media screen and (min-width: 20em) {
		.header {
			color: red;
		}
	}
*/

// -xs-
.xs( @rules ) {
	@media screen and ( min-width: @xs-min-screen-width ) {
		@rules();
	}
}

// -sm-
.sm( @rules ) {
	@media screen and ( min-width: @sm-min-screen-width ) {
		@rules();
	}
}

// -md-
.md( @rules ) {
	@media screen and ( min-width: @md-min-screen-width ) {
		@rules();
	}
}

// -lg-
.lg( @rules ) {
	@media screen and ( min-width: @lg-min-screen-width ) {
		@rules();
	}
}

// -xl-
.xl( @rules ) {
	@media screen and ( min-width: @xl-min-screen-width ) {
		@rules();
	}
}