@import "mixins";

@color-hero: #efefef;
@color-hero-h1: #122340;
@color-hero-h2: #27a9e0;

@color-header: #27a9e0;
@color-header-h1: #fff;
@color-header-p: #fff;

@color-divider: #eaeaea;
@color-footer-text: #bbb;
@color-footer-a: #72a6b7;

@syntax-zebra-stripe: #f8f8f8;

body {
	padding-top: 39px;

	&.docs-home {
		padding-top: 0;
	}
}

//div[class^='pwn-'] > h2 {
//	font-weight: 400;
//	border-bottom: 1px solid @color-divider;
//	padding-bottom: .2em;
//	margin-bottom: .4em;
//	margin-top: 1.5em;
//}
//
//div[class^='pwn-'] > h3 {
//	font-size: 1.4em;
//	margin-bottom: .4em;
//}

.docs-hero {
	background: @color-hero;
	padding: 60px 0;

	h1 {
		text-align: center;
		color: @color-hero-h1;
		line-height: 1.3em;
		font-weight: 300;
	}

	h2 {
		font-weight: 300;
		text-align: center;
		color: @color-hero-h2;
		border-bottom: none;
	}
}

.docs-home {
	h3 {
		margin-top: 2em;
		text-align: center;
	}

	p {
		text-align: center;
	}

	.pwn-notification {
		margin-top: 2em;

		&:before {
			content: "Use at your own risk";
		}
	}

	.docs-download {
		padding: 1.5em 0 1em;
		text-align: center;
	}
}

.nav-menu {
	.menu ul li.docs-footer-logo {
		padding: 0 1.5em;
	}
}

.docs-header {
	background-color: @color-header;

	h1 {
		color: @color-header-h1;
		font-weight: 400;
		margin-bottom: 0;
	}

	p {
		color: @color-header-p;
		font-size: 1.4em;
		margin-bottom: 1.5em;
	}
}

.docs-footer {
	font-size: .8em;
	text-align: center;

	.row:first-child {
		padding-top: 2em;
		margin-top: 2em;
		border-top: 1px solid @color-divider;
	}

	p {
		color: @color-footer-text;
	}

	.row:nth-child(2) {
		padding: 2em 0 3em;
	}

	a {
		color: @color-footer-a;
	}

	.docs-footer-logo img {
		vertical-align: middle;
		height: 32px;
		width: 32px;
	}
}

@import "examples";

.nav-menu {
	text-transform: uppercase;

	a {
		//color: @color-footer-text;
	}
}
