@grid-example-bg: #27a9e0;
@grid-example-padding-bg: rgba(255, 130, 0, 0.25);

.example {
	padding: 2.5em 1.25em 1.25em;
	margin-top: 0;
	border: 1px solid @color-divider;
	background-color: #f5f5f5;
	position: relative;

	&:before {
		content: "Example";
		text-transform: uppercase;
		font-size: .8em;
		color: #989898;
		padding: 0 0 10px;
		position: absolute;
		top: 4px;
		left: 20px;
		font-weight: 700;
	}

	.syntax {
		border-width: 1px 0 0;
		margin: 1.25em -1.25em -1.25em;
		padding: 1.6em 0 0;

		&:before {
			left: 20px;
		}

		.syntaxhighlighter.nogutter td.code .line {
			padding-left: 0 !important;
		}

		.syntaxhighlighter.nogutter {
			margin-bottom: 1em !important;
		}

	}

	.form {
		margin-top: 0;
	}
}

.example.headings {
	table {
		margin: 0;

		td {
			padding: 0;
		}
	}
}

.syntax {
	border: 1px solid @color-divider;
	background-color: #fff;
	padding: 1.2em 0 0;
	margin-bottom: 1.4em;

	.clearfix();
	position: relative;

	&:before {
		content: "Syntax";
		text-transform: uppercase;
		font-size: .8em;
		color: #989898;
		padding: 0 0 10px;
		position: absolute;
		top: 4px;
		left: 12px;
		font-weight: 700;
	}

	.syntaxhighlighter.nogutter td.code .line {
		padding-left: 12px !important;
	}

	.syntaxhighlighter.nogutter {
		margin-bottom: 0 !important;
	}
}

.syntaxhighlighter code,
.syntaxhighlighter div {
	line-height: 1.8em !important;

	.line.alt1 {
		background-color: @syntax-zebra-stripe !important;
	}
}

.grid-demo {
	position: relative;
	margin-top: 1.4em;
	margin-bottom: 1.4em;

	.row {
		margin-bottom: 12px;
	}

	.grid-name {
		background-color: @grid-example-bg;
		text-align: center;
		padding: 10px 0;
		font-weight: 700;
		font-size: .9em;
		color: #fff;
		white-space: nowrap;
	}

	div[class^='pwn-'] {
		background-color: @grid-example-padding-bg;
		height: 40px;
	}

	.grid-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.row {
			margin-left: 0;
			margin-right: 0;
		}

		div[class^='pwn-'] {
			background-color: transparent;
			border-right: 1px dashed red;
			height: 612px;

			&:first-child {
				border-left: 1px dashed red;
			}
		}
	}
}

.pwn-tabs {
	.page {
		h3 {
			margin-top: 0;
		}

		figure {
			margin: 0;

			img {
				width: 100%;
			}
		}

		table {
			margin-top: 0;
		}
	}
}

.tabChanged-demo {
	.result {
		background-color: #fff;
		border: 1px solid @color-divider;
		padding: 20px;
		margin-top: 1px;
		font-weight: 700;
		font-size: 1.2em;
		color: @grid-example-bg;
	}
}