---
---
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Use these Pwn JavaScript components for intuitive user interfaces that match the Pwn CSS framework styles.">
	<!--prod-->
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/Brytecore/pwn/master/dist/css/pwn.min.css">
	<!--dev
	<link rel="stylesheet" type="text/css" href="../pwn/dist/css/pwn.min.css">
	-->
	<link rel="stylesheet" type="text/css" href="css/docs-libs.min.css">
	<link rel="stylesheet" type="text/css" href="css/docs.min.css">
	<title>Pwn components</title>
</head>
<body>
	{% include nav.html slug="components" %}
	<div class="docs-header">
		<div class="container">
			<div class="row">
				<div class="pwn-xs-12">
					<h1>Javascript Components</h1>
					<p>
						Components to help manage your user interface actions and behaviors.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<a id="install"></a>
		<div class="row">
			<div class="pwn-xs-12">
				<h2>Installing components on your website</h2>
				<p>
					The Pwn Javascript library requires jQuery. To put jQuery on your site, add this <code>&lt;script&gt;</code>
					to your page, before the Pwn javascript link.
				</p>
<pre class="brush: html;gutter: false;">
&lt;script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"&gt;&lt;/script&gt;
</pre>
				<p>
					Copy pwn.min.js into your website and add a <code>&lt;script&gt;</code> tag at the end of your page, just
					before your <code>&lt;/body&gt;</code> tag:
				</p>
<pre class="brush: html;gutter: false;">
&lt;script type="text/javascript" src="/path-on-your-server/pwn.min.js"&gt;&lt;/script&gt;
</pre>
				<h3>Required Styles</h3>
				<p>
					The Pwn Javascript library requires some basic styles in order to function correctly. You can
					simply include the Pwn stylesheets like a normal installation. Add this <code>&lt;link&gt;</code>
					element to your page's <code>&lt;head&gt;</code> section:
				</p>
<pre class="brush: html;gutter: false;">
&lt;link rel="stylesheet" type="text/css" href="/path-on-your-server/pwn.min.css"&gt;
</pre>
			</div>
		</div>
	</div>

	<div class="container">
		<a id="checkbox"></a>

		<div class="row">
			<div class="pwn-xs-12">
				<h2>Checkbox</h2>
				<p>
					Replace the default html checkbox with a styled version that matches the Pwn theme.
				</p>
				<div class="example form">
					<label for="checkbox-demo" class="checkbox"><input type="checkbox" id="checkbox-demo"> Yes, I'd like to see this demo!</label>
					<div class="syntax">
<pre class="brush: javascript;html-script: true">
&lt;!-- Don't forget the 'checkbox' class on your label element (required). --&gt;
&lt;label for="checkbox-demo" class="checkbox"&gt;
	&lt;input type="checkbox" id="checkbox-demo"&gt; Yes, I'd like to see this demo!
&lt;/label&gt;

&lt;script type="text/javascript"&gt;
	// Don't forget to wrap your code in the jQuery .ready() function (not shown).
	$( "label.checkbox input" ).pwn_checkbox();
&lt;/script&gt;
</pre>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<a id="radio"></a>

		<div class="row">
			<div class="pwn-xs-12">
				<h2>Radio Buttons</h2>
				<p>
					Replace the default html radio buttons with a styled version that matches the Pwn theme.
				</p>
				<div class="example form">
					<label class="radio"><input type="radio" name="radio-demo" value="this"> You can go with this</label>
					<label class="radio"><input type="radio" name="radio-demo" value="that"> Or you can go with that</label>
					<div class="syntax">
<pre class="brush: javascript;html-script: true">
&lt;!-- Don't forget the 'radio' class on your label elements (required). --&gt;
&lt;label class="radio"&gt;&lt;input type="radio" name="radio-demo" value="this"> You can go with this&lt;/label&gt;
&lt;label class="radio"&gt;&lt;input type="radio" name="radio-demo" value="that"> Or you can go with that&lt;/label&gt;

&lt;script type="text/javascript"&gt;
	// Don't forget to wrap your code in the jQuery .ready() function (not shown).
	$( "label.radio input" ).pwn_radio();
&lt;/script&gt;
</pre>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<a id="select"></a>

		<div class="row">
			<div class="pwn-xs-12">
				<h2>Select Box</h2>
				<p>
					Custom drop-down boxes that match the style of other pwn form elements. Simply insert a
					<code>&lt;select&gt;</code> element on your page and run <code>.pwn_select()</code> on the
					jQuery selector for the element.
				</p>
				<div class="example form">
					<label for="select-demo">
						Choose your favorite make of sports car:
					</label>
					<select id="select-demo">
						<option>Ferrari</option>
						<option>Lamborghini</option>
						<option>Maserati</option>
						<option>Porsche</option>
					</select>
					<div class="syntax">
<pre class="brush: javascript;html-script: true">
&lt;label for="select-demo"&gt;
	Choose your favorite make of sports car:
&lt;/label&gt;
&lt;select id="select-demo"&gt;
	&lt;option&gt;Ferrari&lt;/option&gt;
	&lt;option&gt;Lamborghini&lt;/option&gt;
	&lt;option&gt;Maserati&lt;/option&gt;
	&lt;option&gt;Porsche&lt;/option&gt;
&lt;/select&gt;

&lt;script type="text/javascript"&gt;
	// Don't forget to wrap your code in the jQuery .ready() function (not shown).
	$( "#select-demo" ).pwn_select();
&lt;/script&gt;
</pre>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<a id="tabs"></a>

		<div class="row">
			<div class="pwn-xs-12">
				<h2>Tabs</h2>

				<p>

				</p>

				<div class="example form">
					<div class="pwn-tabs">
						<div class="tabs">
							<div class="tab active" data-tab="tab1">Tab 1</div>
							<div class="tab" data-tab="tab2">Tab 2</div>
							<div class="tab" data-tab="tab3">Tab 3</div>
						</div>
						<div class="pages">
							<div class="page active" data-tab="tab1">
								<h3>Page 1</h3>
								<p>
									This is the first page of this tabbed control.
								</p>
							</div>
							<div class="page" data-tab="tab2">
								<h3>Page 2</h3>
								<p>
									This is the second page of this tabbed control.
								</p>
							</div>
							<div class="page" data-tab="tab3">
								<h3>Page 3</h3>
								<p>
									This is the third page of this tabbed control.
								</p>
							</div>
						</div>
					</div>

					<div class="syntax">
<pre class="brush: javascript;html-script: true">
&lt;div class="pwn-tabs"&gt;
	&lt;div class="tabs"&gt;
		&lt;div class="tab active" data-tab="tab1"&gt;Tab 1&lt;/div&gt;
		&lt;div class="tab" data-tab="tab2"&gt;Tab 2&lt;/div&gt;
		&lt;div class="tab" data-tab="tab3"&gt;Tab 3&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="pages"&gt;
		&lt;div class="page active" data-tab="tab1"&gt;
			&hellip;
		&lt;/div&gt;
		&lt;div class="page" data-tab="tab2"&gt;
			&hellip;
		&lt;/div&gt;
		&lt;div class="page" data-tab="tab3"&gt;
			&hellip;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;

&lt;script type="text/javascript"&gt;
	// Don't forget to wrap your code in the jQuery .ready() function (not shown).
	$( '.pwn-tabs' ).pwn_tabs();
&lt;/script&gt;
</pre>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include footer.html %}

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!--prod-->
	<script type="text/javascript" src="https://rawgit.com/Brytecore/pwn/master/dist/js/pwn.min.js"></script>
	<!--dev
	<script type="text/javascript" src="../pwn/dist/js/pwn.js"></script>
	-->
	<script type="text/javascript" src="js/docs-libs.min.js"></script>
	<script type="text/javascript" src="js/pwn-docs.min.js"></script>
	<script type="text/javascript">
		(function ( $, undefined ) {
			function run_demos() {
				$( "#checkbox-demo" ).pwn_checkbox();
				$( 'label.radio input' ).pwn_radio();
				$( "#select-demo" ).pwn_select();
				$( '.pwn-tabs' ).pwn_tabs();
			}

			$( function () {
				run_demos();
			});
		}( jQuery ) );
	</script>
</body>
</html>