	<div class="nav-menu fixed">
		<div class="container">
			<div class="row">
				<div class="pwn-xs-12">
					<div class="menu">
						<ul>
							<li class="brand">
								<a href="/">
									<div class="logo"><img src="images/bc-logo.png"></div>
								</a>
							</li>
							{% if include.slug == "get-started" %}
							<li class="active">
								{% else %}
							<li>
								{% endif %} <a href="/get-started">Getting Started</a>
							</li>
							{% if include.slug == "grid" %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}	<a href="/grid">Grid System</a>
							</li>
							{% if include.slug == "styles" %}
							<li class="active">
								{% else %}
							<li>
								{% endif %} <a href="/styles">Styles</a>
							</li>
							{% if include.slug == "components" %}
							<li class="active">
								{% else %}
							<li>
								{% endif %} <a href="/components">JavaScript Components</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>