span.caret-up,
span.caret-down {
	display: inline-block;

	&:after {
		content: "";
		display: block;
		margin-left: 4px;
		margin-top: -6px;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}
}

span.caret-up:after {
	border-bottom: 4px solid @text-color;
}

span.caret-down:after {
	border-top: 4px solid @text-color;
}

.pwn-notification {
	padding: 2em;
	background-color: @color-notification-bg;
	line-height: 1.5em;

	&:before {
		color: @color-notification-heading;
		content: "Notice";
		display: block;
		font-weight: 700;
		font-size: .8em;
		padding-bottom: 12px;
		text-transform: uppercase;
	}
}
