.form {
	max-width: 100%;
	margin: 60px auto 0;

	label {
		text-align: left;
		text-transform: uppercase;
		line-height: 2em;
		display: block;
	}

	input[type=text],
	input[type=password],
	input[type=email],
	input[type=tel],
	input[type=number],
	input[type=date],
	input[type=range],
	input[type=search],
	input[type=url],
	textarea {
		border: 1px solid #e9e9e9;
		font-family: "proxima-nova", sans-serif;
		color: #333;
		padding: 8px 12px;
		font-size: 17px;
		line-height: 21px;
		display: block;
		margin: 0 0 12px;
		width: 100%;

		&:focus {
			outline: none;
			-moz-box-shadow: 0 0 0 1px @color-focus;
			-webkit-box-shadow: 0 0 0 1px @color-focus;
			box-shadow: 0 0 0 1px @color-focus;
		}

		&.invalid {
			-moz-box-shadow: 0 0 0 1px fade(@color-error, 40%);
			-webkit-box-shadow: 0 0 0 1px fade(@color-error, 40%);
			box-shadow: 0 0 0 1px fade(@color-error, 40%);
		}

		&.required {
			border-right: 4px solid fade(@color-error, 40%);
		}
	}

	.half-width {
		.clearfix();

		input[type=text],
		input[type=password],
		input[type=email],
		input[type=tel],
		input[type=number],
		input[type=date],
		input[type=range],
		input[type=search],
		input[type=url],
		textarea,
		label,
		.btn {
			width: 49%;
			margin-left: 2%;
			float: left;

			&:first-child {
				margin-left: 0;
			}
		}

		.btn, label {
			width: 49%;
			padding: 8px 12px;
			line-height: 19px;
			margin-bottom: 12px;
		}

		label {
			padding-left: 0;
			line-height: 21px;
		}
	}

	textarea {
		height: 79px;
	}

	.btn {
		margin: 12px 0;
	}
}

.btn {
	padding: 12px 14px;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-block;

	background-color: @btn-primary;
	color: @btn-primary-text;
	border: 1px solid @btn-primary-border;

	&:hover {
		text-decoration: none;
		background-color: @btn-primary-hover;
	}
}

.btn.secondary {
	background-color: @btn-secondary;
	color: @btn-secondary-text;
	border-color: @btn-secondary-border;

	&:hover {
		text-decoration: none;
		background-color: @btn-secondary-hover;
	}
}

.btn.small {
	padding: 6px 10px;
	font-size: 11px;
}
