.nav-menu {

	.menu {

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				margin: 0;
				padding: 0;

				a {
					display: block;
					padding: .5em .75em;
					font-size: .9em;
					line-height: 1.8em;

					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&.centered {

		.menu ul {
			text-align: center;
		}
	}

	&.mini-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;

		.menu {
			float: left;

			ul {
				float: left;

				li {
					float: left;

					a {
						font-size: .7em;
						text-transform: uppercase;
						line-height: 1em;

						a:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.xs({ display: none; });

			.sm({ display: block; });
		}

		&.right {
			.menu {
				float: right;

				ul {
					float: right;

					li {
						float: right;
					}
				}
			}
		}
	}
}

@media print {
	.nav-menu {
		position: absolute;
	}
}