.nav-menu {

	.menu {
		z-index: 200;
		margin: 0 -10px;

		&.expanded ul li {
			display: block;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

			li {
				margin: 0;
				padding: 0;
				display: none;

				&:last-child {
					padding-bottom: 15px;
				}

				a, span {
					display: block;
					padding: .5em .75em;
					font-size: .9em;
					line-height: 1.8em;
					color: @text-color;
					background-color: #fff;

					&:hover {
						background-color: @color-light-background;
						text-decoration: none;
					}
				}

				&.brand {
					display: block;

					a, span {
						padding: 5px 10px;

						&:hover {
							background-color: transparent;
						}
					}

					.logo {
						height: 28px;
						width: 28px;

						img {
							display: inline;
							vertical-align: middle;
						}
					}
				}

				&.active {
					a {
						background-color: @color-light-background;
						color: @btn-primary;
					}
				}
			}
		}

		.hamburger {
			margin: 4px;
			height: 30px;
			width: 30px;
			background: transparent url(../images/hamburger.png) 0 0 no-repeat;
			background-size: 30px 120px;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
	}

	&.fixed {
		top: 0;
		width: 100%;
		z-index: 10;
		background-color: #fff;
	}

	&.mini-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;

		.menu {
			float: left;

			ul {
				float: left;

				li {
					float: left;

					a {
						font-size: .7em;
						text-transform: uppercase;
						line-height: 1em;

						a:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.xs({ display: none; });

			.sm({ display: block; });
		}

		&.right {
			.menu {
				float: right;

				ul {
					float: right;

					li {
						float: right;
					}
				}
			}
		}
	}
}

@media print {
	.nav-menu {
		position: absolute;
	}
}

@media ( min-width: @md-min-screen-width ) {

	.nav-menu {
		background-color: #fff;

		&.fixed {
			position: fixed;
		}

		.menu {
			position: relative;

			&.expanded ul li {
				display: inline-block;
			}

			.hamburger {
				display: none;
			}

			&.centered {
				.menu ul {
					text-align: center;
				}
			}

			ul {
				li {
					display: inline-block;

					&:last-child {
						padding-bottom: 0;
					}

					&.brand {
						display: inline-block;
					}

					a, span {
						a:hover {
							text-decoration: underline;
						}
					}

					&.active {
						a {
							background-color: @color-light-background;
						}
					}
				}
			}
		}
	}

}