* {
	.box-sizing(border-box);
}

*:before,
*:after {
	.box-sizing(border-box);
}

body {
	background: @background;
	font-family: @font-family;
	font-size: @base-font-size;
	font-weight: @font-weight;
	color: @text-color;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
	color: @headings-text-color;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h1 {
	font-size: 2.8em;
	line-height: 1.3em;
}

h2 {
	font-size: 2em;
	line-height: 1.4em;
}

h3 {
	font-weight: @font-weight;
	font-size: 1.7em;
	line-height: 1.5em;
}

h4, h5, h6 {
	font-weight: @font-weight;
	margin-top: 20px;
	margin-bottom: 10px;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.1em;
}

img {
	max-width: 100%;
}

figure {
	figcaption {

		&.attribution,
		&.attribution a {
			color: @color-light-text;
			font-size: .8em;
			text-align: center;
			padding-top: 3px;
		}
	}
}

p {
	margin: .2em 0 1.8em;
	line-height: @line-height;
	&:last-child {
		margin-bottom: .2em;
	}
}

a {
	color: @brytecore-blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	li {
		line-height: 1.7em;
	}
}