* {
	.box-sizing(border-box);
}

*:before,
*:after {
	.box-sizing(border-box);
}

body {
	background: @background;
	font-family: @font-family;
	font-size: @font-size;
	font-weight: @font-weight;
	color: @text-color;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-size: @headings-font-size;
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
	color: @headings-text-color;
}

img {
	max-width: 100%;
}

p {
	line-height: @line-height;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

ul {
	li {
		line-height: 1.7em;
	}
}