// Brytecore colors
@brytecore-blue: #26a9e0;
@brytecore-red: #a6280b;
@brytecore-red-orange: #ff4c21;
@brytecore-light-orange: #ffc021;

// Base colors
@color-purple: #c8a5e0;
@color-error-bg: #f2dede;
@color-error-border: #daa2ab;
@color-error-text: #b94a48;
@color-danger: #ff343f;
@color-warning-border: #e68845;
@color-accent1: #e08926;
@color-warning-bg: #ffeec9;
@color-updated-border: #e6db55;
@color-updated-bg: #fffdb1;
@color-success-bg: #dff0d8;
@color-success-border: #d6e9c6;
@color-updated-text: #827d70;
@color-warning-text: #827d70;
@color-success-text: #468847;
@color-notification-heading: @brytecore-blue;
@color-focus: fade(@brytecore-blue, 30%);
@color-notification-bg: #e9f6fb;

// Greys
@color-background: #fff;
@color-faint-background: #f5f5f5;
@color-light-background: #ededed;
@color-divider: #dedede;
@color-light-text: #aaa;
@color-text: #555;

// Scaffolding
@background: @color-background;

// Text
@base-font-size: 16px; // 1em for fonts
@font-family: "lato", sans-serif;
@font-size: 1em;
@font-weight: 400;
@line-height: 1.6em;
@text-color: @color-text;

// Headings
@headings-font-family: "lato", sans-serif;
@headings-font-weight: 700;
@headings-text-color: @text-color;

// Buttons
@btn-primary: @brytecore-blue;
@btn-primary-hover: fade( @btn-primary, 85% );
@btn-primary-border: @btn-primary;
@btn-primary-text: #fff;
@btn-secondary: #fff;
@btn-secondary-hover: #f4f4f4;
@btn-secondary-border: #bFd5e0;
@btn-secondary-text: @text-color;
@btn-delete: @brytecore-red;
@btn-delete-hover: fade( @btn-delete, 85% );
@btn-delete-border: @btn-delete;
@btn-delete-text: #fff;
@btn-trans: transparent;
@btn-trans-hover: rgba(255, 255, 255, 0.1);
@btn-trans-border: #fff;
@btn-trans-text: #fff;
@btn-trans-inverse: transparent;
@btn-trans-inverse-hover: rgba(255, 255, 255, 0.1);
@btn-trans-inverse-border: @text-color;
@btn-trans-inverse-text: @text-color;

// Grid variables
@xs-padding: 10px;
@md-padding: 15px;
@lg-padding: 20px;

@xs-container: 100%;
@sm-container: 538px;
@md-container: 728px;
@lg-container: 984px;
@xl-container: 1240px;

@xs-min-screen-width: 200px;
@sm-min-screen-width: 568px;
@md-min-screen-width: 768px;
@lg-min-screen-width: 1024px;
@xl-min-screen-width: 1280px;
