@color-information: #26a9e0;
@color-accent1: #e08926;
@color-warning: #fffdb1;
@color-danger: #ff343f;
@color-text: #555;
@color-background: #fff;
@color-purple: #c8a5e0;

// Used by body to determine the size of 1em.
@base-font-size: 16px;

@font-family: "lato", sans-serif;
@font-size: 1em;
@font-weight: 400;
@line-height: 1.6em;
@text-color: @color-text;
@background: @color-background;

@headings-font-family: "lato", sans-serif;
@headings-font-weight: 300;
@headings-text-color: @text-color;