// Used by body to determine the size of 1em.
@base-font-size: 16px;

@font-family: "lato", sans-serif;
@font-size: 1em;
@font-weight: 400;
@line-height: 1.6em;
@text-color: @color-text;
@background: @color-background;

@headings-font-family: "lato", sans-serif;
@headings-font-weight: 300;
@headings-text-color: @text-color;

@brytecore-blue: #26a9e0;
@color-information: @brytecore-blue;
@color-focus: fade( @brytecore-blue, 30% );
@btn-primary: @brytecore-blue;
@btn-primary-hover: fade( @btn-primary, 85% );
@btn-primary-border: @btn-primary;
@btn-primary-text: #fff;
@btn-secondary: #fff;
@btn-secondary-hover: #f4f4f4;
@btn-secondary-border: #bFd5e0;
@btn-secondary-text: @text-color;
@color-accent1: #e08926;
@color-warning: #fffdb1;
@color-danger: #ff343f;
@color-error: #bb101d;
@color-text: #555;
@color-background: #fff;
@color-purple: #c8a5e0;
@color-light-background: #ededed;

